@model List<JobDTO>

<div class="row">
    <div class="col-lg-8">
        <div class="bg-white p-4 shadow rounded mb-5">
            <h1 class="h4 mb-4">İş İlanları</h1>
            @foreach(var job in Model)
            {
                <div class="card bg-transparent border-0 mb-3 ">
                    <div class="row">
                        <div class="col-4 ">
                            <img src="~/img/@job.Image" class="img-fluid rounded" alt="">
                        </div>
                        <div class="col-8">
                            <h5><a href="/jobs/details/@job.Url" class="btn-link fw-bold text-dark text-decoration-none">@job.Title</a></h5>
                            <p>@job.Description</p> 
                        </div>
                    </div>
                </div>
                <hr class="my-3">
            }
            <nav>
                <ul class="pagination">
                    <li class="page-item">
                        <a href="#" class="page-link">1</a>
                    </li>
                    <li class="page-item">
                        <a href="#" class="page-link">2</a>
                    </li>
                    <li class="page-item">
                        <a href="#" class="page-link">3</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    <div class="col-lg-4">
        <vc:last-published></vc:last-published>
    </div>
</div>